DATABASE_URL=
REDIS_URL=
BETTER_AUTH_BASE_URL=
BETTER_AUTH_SECRET=
SHIPSHOUT_API_URL=http://localhost:3000
NEXT_PUBLIC_SHIPSHOUT_API_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
